<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;600;700&display=swap" rel="stylesheet" />
    <title>Simple OCR Online</title>
  </head>
  <body>
    <header>
      <h1>OCR PDF <span>ONLINE</span></h1>
      <p>Transform any image to editable & searchable PDF documents. This OCR feature recognize text from images. Feel free to use it!</p>
    </header>
    <div class="main-container">
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <header>Drag ur file to upload</header>
        <input class="col-3" type="file" name="avatar" />
        <button type="submit" onclick="alert('Yeay! Your file will be downloaded...');">Convert</button>
      </form>
    </div>
  </body>
</html>
